<div class="container">
  <div class="row">

    <%= render partial: "shared/nav_tabs" %>
    <br>

    <div class="col-md-12">
      <h1>ＴＯＰ10 人氣餐廳</h1>
      <hr>
    </div>
    <% @rank_restaurants.each do |r| %>
      <div class="col-md-4">
        <%= image_tag r.image, class: "img-responsive center-block" %>
      </div>
      <div class="col-md-8">
        <h4><%= r.name %><span class="label label-default">收藏數：<%= r.favorites_count %></span></h4>
        <p><%= r.description %></p>
        <%= link_to "Show", restaurant_path(r), class: "btn btn-primary" %>
        <%= render partial: "shared/favorite", locals: {object: r} %>
      </div>
      <div class="clearfix"></div>
      <hr>
    <% end %>
  </div>
</div>

