<div class="container">

  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to "首頁", root_path %></li>
      <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
      <li role="presentation"><%= link_to "TOP10 人氣餐廳", ranks_restaurants_path %></li>
    </ul>
    <br>

    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
      <!-- 如果each拿出的分類資料(c)等於使用者選擇的分類(@category)，就回傳字串"active" -->
      <% @categories.each do |c| %>
      <li role="presentation" class="<%= "active" if c == @category %>"><%= link_to c.name, category_path(c) %></li>
      <% end %>
    </ul>

    <br>


    <%= render partial: "shared/restaurant_list" %>
  </div>
</div>